.recipe {
    text-align: center;
    color: #dd6871;
    display: flex;
    flex-direction: column;

    .image {
        // height: 600px;
        // width: 1800px;
        max-width: 1200px;
        height: 600px;
        margin: 0 auto;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        background-color: #f6cfcb;
        overflow: hidden;
        margin-bottom: 2rem;
        display: flex;
        justify-content: center;

        img {
            width: 102%;
            height: auto;
            mix-blend-mode: multiply;
        }
    }

    h1 {
        font-size: 4rem;
        color: #dd6871;
        margin-bottom: 1rem;
    }

    h4 {
        font-size: 2rem;
        color: #dd6871;
        margin-bottom: 1rem;

        p {
            display: inline-block;
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        color: black;

        .instructions {
            display: flex;
            flex-direction: row;
            gap: 2rem;
            justify-content: center;
            align-content: flex-start;

            .ingredients,
            .steps {
                text-align: left;
                // width: 20vw;
                width: 500px;
                line-height: 1.5;
                margin-bottom: 2rem;

                ul {
                    list-style: none;
                    padding: 0;

                    li {
                        margin: 1rem 0;
                    }
                }

                ol {
                    li {
                        margin: 1rem 0;
                    }
                }
            }

            h2 {
                font-size: 3rem;
                text-align: center;
                color: #dd6871;
                border-bottom: 2px solid #dd6871;
            }
        }
    }
}
