/* width */
::-webkit-scrollbar {
    width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 5px #f6cfcb;
    border-radius: 1rem;
    // box-shadow: inset 0 0 0.5rem #f6cfcb;
    box-shadow: inset 0 0 0.5rem #eca098;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #dd6871;
    border-radius: 1rem;
}
