.card-grid {
    width: 100%;
    // max-width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 2rem;
    margin: 2rem auto;
    padding: 1rem;

    
    .card {
        width: 350px;
        height: 200px;
        padding: 1rem;
        border-radius: 1rem;
        background-color: #F6cfcb;
        transition-duration: 250ms;
        overflow: hidden;
        text-overflow: ellipsis;

        
        &:hover {
            box-shadow: 0px 0px 20px #ECA098;
            transition-duration: 250ms;
        }

        &:active {
            box-shadow: 0px 0px 10px #E99086;
            transition: 150ms;
        }
        
        a {
            text-decoration: none;
            color: inherit;
        }

        .card-header {
            padding-bottom: 0.5rem;
            border-bottom: 2px solid #1f1f1f;
        }

        .card-body {
            margin: 0.5rem 0;
            height: 90px;
            overflow: hidden;
            text-overflow: ellipsis;

            h2 {
                margin-bottom: 0.5rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            p {
                line-height: 1.2;
            }
        }

        .card-footer {
            padding-top: 1rem;
            border-top: 2px solid #1f1f1f;
        }

        .tags {
            text-align: left;
            float: left;
            
            li {
                display: inline-block;
                color: #4AB7CC;

                a {
                    &:hover {
                        text-decoration: underline;
                    }
                }

                &:last-of-type {
                    &::after {
                        content: none;
                    }
                }

                &::after {
                    content: ',';
                }
            }
        }

        .servings {
            text-align: right;
            float: right;
        }

        .tags, .servings {
            display: inline-block;
            vertical-align: middle;
        }
    }
}