header {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem 1rem 0 0;
    border-bottom: 2px solid #dd6871;
    // background-color: green;

    a {
        text-decoration: none;
        color: #dd6871;

        &:hover {
            color: #60BFD2;
        }
    }

    .logo {

        img {
            height: 50px;
            width: auto;
            display: inline-block;
            margin-right: 0.5rem;
            vertical-align: middle;
        }

        h1 {
            display: inline-block;
            vertical-align: middle;
            font-weight: 400;
            font-size: 1.5rem;
        }
    }
    
    nav {
        text-align: right;

        ul {
            li {
                display: inline-block;
                margin: 0 0.5rem;
                font-size: 1.2rem;
                font-weight: 600;
                color: #dd6871;
                vertical-align: middle;

                .dropdown {
                    position: relative;

                    button {
                        font-size: 1.2rem;
                        font-weight: 600;
                        padding: 0.5rem 1rem;
                        border-radius: 0.5rem;
                        border: 2px solid #dd6871;
                        background-color: #fff1e4;
                        color: #dd6871;

                        span {
                            font-size: 0.7rem;
                            margin-left: 0.5rem;
                            vertical-align: middle;
                        }
                    }

                    .dropdown-content {
                        display: none;
                        position: absolute;
                        text-align: left;
                        width: 100%;
                        z-index: 1;

                        a {
                            display: block;
                            padding: 1rem;

                            &:hover {
                                background-color: #dd6871;
                                color: #fff1e4;
                            }
                        }
                    }

                    &:hover {
                        .dropdown-content {
                            display: block;
                            border-radius: 0 0 0.5rem 0.5rem;
                            border: 2px solid #dd6871;
                            background-color: #fff1e4;
                        }

                        button {
                            border-radius: 0.5rem 0.5rem 0 0;
                            background-color: #dd6871;
                            color: #fff1e4;
                        }
                    }
                }
            }
        }
    }
}

footer {
    width: 100%;
    border-top: 2px solid #dd6871;
    border-radius: 0 0 1rem 1rem;
    padding: 1rem 0;
    // background-color: lavender;

    a {
        text-decoration: none;
        color: #dd6871;

        &:hover {
            color: #60BFD2;
        }
    }

    nav {
        text-align: center;
         ul {
             li {
                 display: inline-block;
                 margin: 0 0.5rem;
             }
         }
    }
}